/* reset default styles for box-model */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set the body style and size*/
body {
    font-family: "Mulish", sans-serif;  
}

/* set the main container size and style */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

/* set the  card style*/
 .card {
    width: 60%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    justify-items: center; 
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.5);
}

/* style the left side */
.left-side {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(241, 241, 241);
    padding: 1.5rem;
}

/* set the size for the logo */
img {
    height: 160px;
    width: 150px;
    margin-left: 10px;   
    margin-top: 5px; 
}

/* set the size for the paragraph */
p {
    margin: 10px;
    text-align: left;
}

/* style the right side */
.right-side {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1.5rem;
}

/* set the size and style for header */
.right-side> .header {  
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1.5rem;
}

/* set input section display */
.input-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

/* set the name section display */
.full-name-input {
    width: 100%;
    display: flex;
    gap: 10px;
}

/* set the email and password display */
.email-password-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* style the input boxes */
[id] {
    border: 2px solid lightgray;
}

#first-name,  #last-name, #email, #password {
    padding: 9px;
}

input {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#checkbox {
    width: auto;
}

/* style the font of the labels */
[for] {
    color: rgb(98, 96, 96);
    font-size: 1.2rem;
}

/* set the size and style for buttons */
button {
    width: 95px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(45, 160, 160);
    color: white;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    background-color: rgb(94, 182, 182);
    transform: scale(1.1);
}

/* set max width on smaller screens */

@media (max-width: 976px) {
    display: flex;
    flex-direction: column;
    width: 60%;
}
